!!! 5
//if lt IE 7
  html.ie.ie6(lang='en')
//if IE 7
  html.ie.ie7(lang='en')
//if IE 8
  html.ie.ie8(lang='en')
// [if (gte IE 9)|!(IE)] <!
html(lang='en')
  // <![endif]
  head
    // Basic Page Needs
    meta(charset='utf-8')
    title Your Page Title Here :)
    meta(name='description', content='')
    meta(name='author', content='')
    // Mobile Specific Metas
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    // CSS
    link(rel='stylesheet', href='stylesheets/base.css')
    link(rel='stylesheet', href='stylesheets/skeleton.css')
    link(rel='stylesheet', href='stylesheets/layout.css')
    link(rel='stylesheet', href='stylesheets/custom.css')
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    // Favicons
    link(rel='shortcut icon', href='images/favicon.ico')
    link(rel='apple-touch-icon', href='images/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='images/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='images/apple-touch-icon-114x114.png')

  body
    // Primary Page Layout
    .container
      .sixteen.columns.clearfix
        nav.three.columns.alpha
          img(src='images/roboto_below.png', alt='Terrapin Hackers', height='100', width='100')
          ul
            li Hack
            li Who We Are
            li Learn More
        .thirteen.columns.omega
          #canvas
          hr
          h2 What is Terrapin Hackers
          p
            | Terrapin Hackers is cool. And many other things that will probably fit into one or two more sentences.
          hr
          h2 Learn More
          .thirteen.columns
            .row
              .six.columns.alpha
                form(action='')
                  label(for='regularInput') Name
                  input#regularInput(type='text')
                  label(for='regularInput') Email
                  input#regularInput(type='text')
                  label(for='regularTextarea') Message
                  textarea#regularTextarea
                  button(type='submit') Submit Form
              .six.columns.omega
                .media
                  img(src='images/facebook.png', alt='Check us out on Facebook!')
                  img(src='images/twitter.png', alt='Follow us on twitter!')

        // Sweet nested columns cleared by wrapping a .row
        //
           <div class="five columns">
          			<div class="row">
          				<div class="three columns alpha">...</div>
          				<div class="two columns omega">...</div>
          			</div>
          		</div>

